@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="card-header border-0" style="width: 12rem;">
    Are you registered?
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Account" asp-action="LogIn" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox col-md-2" >
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">LOG IN</button>
            </div>
            <p>
                <a asp-action="Register" asp-route-returnurl="@Model.ReturnUrl">Register as a new user?</a>
            </p>
        </form>
    </div>
</div>
