@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="card-header border-0" style="width: 18rem;">
    Already have an account? <a asp-action="LogIn" class="card-link">SING IN</a>
</div>    
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">REGISTER</button>
            </div>
        </form>
    </div>
</div>
